@using System;
@using Sandbox.UI;

@inherits PanelComponent

<root>
	<label class="watermark">
		platformer64 infdev
	</label>

	<label class="collectables">
		@(GameManager.GetCollectableString())
	</label>
	
	<label class="health">
		@(Player.Health)	
	</label>

	<PauseMenu />
</root>

@code
{
	public PlayerPawn Player => PlayerState.Local.PlayerPawn;

	protected override void OnFixedUpdate()
	{
		base.OnFixedUpdate();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}
}
