{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "player": "Unset",
    "enemy": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "enemy",
      "r": "Trigger"
    }
  ],
  "__guid": "d5446ebc-3b7d-4d05-bc3d-2b54ff2b157c",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}